/* You can add global styles to this file, and also import other style files */
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.paddingleft15 {
  padding-left: 15px;
}
.paddingright15 {
  padding-right: 15px;
}
.margintop10 {
  margin-top: 10px;
}
.marginleft10 {
  margin-left: 10px;
}
.marginbottom10 {
  margin-bottom: 10px !important;
}
.displayFlex {
  display: flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 2px 16px;
}
